In [1]:
#creating class with constructor

In [26]:
class employee():
    def __init__ (self,name,age,salary,gender):
        self.name=name
        self.age=age
        self.salary=salary
        self.gender=gender
        
    def show_employee_details(self):
        print("name of employee",self.name)
        print("age of employee",self.age)
        print("salary of employee",self.salary)
        print("gender of employee",self.gender)

In [29]:
e1= employee('rahul',28,35000,'male')

In [28]:
e1.show_employee_details()

name of employee rahul
age of employee 28
salary of employee 35000
gender of employee male

In [43]:
class student():
    def __init__ (self,name,age,gender,fees):
        self.name=name
        self.age=age
        self.gender=gender
        self.fees=fees
        
    def show_student_details(self):
        print("name of the student",self.name)
        print("age of the students",self.age)
        print("gender of the student",self,gender)
        print("fees of the student",self.fees)

In [2]:
s1=student("martha",32,"female",30000)

NameError: name 'student' is not defined

In [3]:
s1.show_student_details()

NameError: name 's1' is not defined

In [4]:
class animal():
    def __init__(self,name,breed,color,house):
        self.name=name
        self.breed=breed
        self.color=color
        self.house=house
    
    def show_animal_details(self):
        print("name of the animal is",self.name)
        print("breed of the animal",self.breed)
        print("color of the animal",self.color)
        print("house of the animal",self.house)

In [5]:
a1=animal("rolex","labradol","brown","hut")

In [6]:
a1.show_animal_details()

name of the animal is rolex
breed of the animal labradol
color of the animal brown
house of the animal hut

In [5]:
class Hotel:
    def __init__(self,ibis,oberoi,taj,jwmarriot,lemontree):
        self.ibis=ibis
        self.oberoi=oberoi
        self.taj=taj
        self.jwmarriot=jwmarriot
        self.lemontree=lemontree
        
    def show_hotel_details(self):
        print("ibis hotel is in",self.ibis)
        print("oberoi hotel is in",self.oberoi)
        print("taj hotel is in",self.taj)
        print("jwmarriot is in",self.jwmarriot)
        print("lemontree is in",self.lemontree)

In [8]:
h1=Hotel("vikhroli","nariman point","mahalaxmi","juhu","Andheri")

In [9]:
h1.show_hotel_details()

ibis hotel is in vikhroli
oberoi hotel is in nariman point
taj hotel is in mahalaxmi
jwmarriot is in juhu
lemontree is in Andheri

In [1]:
a=21
b=23
if a>b:
    print("a is greater than b")
else:
    print("b is greater than a")

b is greater than a

In [21]:
class laptop:
    def __init__(self,company,color,ram,processor,price,os):
        self.company=company
        self.color=color
        self.ram=ram
        self.processor=processor
        self.price=price
        self.os=os
        
    def show_laptop_details(self):
        print("company of the laptop is",self.company)
        print("color of the laptop is",self.color)
        print("ram of the laptop is",self.ram)
        print("processor of the laptop is",self.processor)
        print("price of the laptop is",self.price)
        print("os of the laptop is",self.os)

In [1]:
l1=laptop("Asus","met black",16,"twelth generation",65000,"windows")

NameError: name 'laptop' is not defined

In [ ]:
class employee():
    def